BasedOnStyle: WebKit
BreakBeforeBraces: Allman
ColumnLimit: 120
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[a-z_/]+\.h>$'
    Priority: 1
  - Regex: '^<[a-z_/]+>$'
    Priority: 2
  - Regex: '.*'
    Priority: 3
SortIncludes: CaseSensitive
Standard: c++17
